@font-face {
  font-family: 'Amsterdam One';
  src: url('/AmsterdamOne-eZ12l.ttf') format('woff2'),
}
body {
  background-color: #cae8ff;
  color: #050A30;
  margin: 0; 
  transition: background-color 0.31s, color 0.3s;
}   
body.dark-mode {
  background-color: #050A30;
  color: #cae8ff;
  margin: 0; 
  transition: background-color 0.31s, color 0.3s;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.dark-mode .at{
  color: #cae8ff; 
}
.dm{
color: #050A30; font-size: 1.7em; 
}
.dark-mode .dm{
color: #cae8ff;
}
.container h2 {
 color: #050A30; font-family: Amsterdam One; font-size: 1.55em; margin-left: -43%;
}
.logo img {
  max-width: 50%;
  height: auto;
}
.dark-mode-toggle {
  display: flex;
  align-items: center;
}
.dark-mode-toggle input {
  margin-right: 5px;
}
.register-signin {
  display: flex;
}
.register-signin button {
  margin-left: 10px;
  font-size: 18px;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  transition: all .3s;
  padding: 2px;
  touch-action: manipulation;
  white-space: nowrap;
}
button:active,
button:hover {
outline: 0;
}
button span {
background-color: rgb(5, 6, 45);
border-radius: 6px;
transition: 300ms;
padding: 2px 10px;
}
button:hover span {
background: none;
}

button:active {
transform: scale(0.9);
}
.cta {
    position: relative;
    margin: auto;
    padding: 9px 12px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #2d0202;
    width: 30px;
    height: 35px;
    transition: all 0.3s ease;
  }
  
  .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #ffffff;
  }
  .cta:hover span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #050A30;
  }
  
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 5px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #050A30;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: #cae8ff;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active {
    transform: scale(0.95);
  }
  
.topnav {
    overflow: hidden;
    background-color: transparent;
    margin-left: 170px;
} 

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #050A30;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline 1px;
    text-underline-offset: 10px;
}  

.dark-mode .topnav a{
  color: #cae8ff;
}

.topnav a:hover {
    transition: 0.5s;
    color: #050A30;
    font-size: 25px;
}
.dark-mode .topnav a:hover{
  transition: 0.5s;
  color: #cae8ff;
  font-size: 25px;
}
button3 {
  padding: 0.7% 2%;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: #050A30;
  color: #cae8ff;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.4s ease;
}
.dark-mode button3{
  background-color: #cae8ff;
  color: #050A30;
}
a{
  text-decoration: none; color: #d62976;
}
button3:hover {
  letter-spacing: 2px;
  background-color: #050A30;
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(142, 19, 219) 0px 7px 29px 0px;
}
.dark-mode button3:hover {
  background-color: #cae8ff;
}
button3:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
.container2 {
  position: relative;
  display: inline-block;
}
.hiddenButton {
  position: absolute;
  width: 5.7%;
  height: 4.1%;
  opacity: 0;
  cursor: pointer;
}
#circuit{
  margin-left: -22%; margin-top: 30%;
}
#calcC{
  margin-left: -42.5%; margin-top: 23.5%;
}


.button {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: .75rem;
  background-color: #050A30;
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  padding: 0.5% 0.9%;
  padding-left: 0.7%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color .3s;
  margin-top: 3%;
  margin-left: 0.5%;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.dark-mode .button{
  background-color: #cae8ff; color: #000;
}

.button:hover {
  background-color: #8b0606; 
}

.button:hover .button__icon-wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform .3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
  transition: transform .3s ease-in-out .1s;
  transform: translate(0);
}

footer{
  background-color: #050A30;
  padding: 5%;
  text-align: center;
  display: flex;
  }
  .dark-mode footer{
  background-color: #cae8ff;
  }
  .footer-lists {
  display: column;
  justify-content: space-around;
  flex-wrap: wrap;
  }
  .footer-lists img{
  max-width: 20%;
  }
  .footer-lists2 {
  display: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: -10%;
  }
  h2{
  color: #cae8ff;
  }
  .dark-mode h2 {
  color: #050A30;
  }
  .card2 {
  width: fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* for all social containers*/
  .socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 5px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  }
  /* instagram*/
  .containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
  }
  /*X*/
  .containerTwo:hover {
  background-color: #000000;
  transition-duration: 0.3s;
  }
  /* discord*/
  .containerThree:hover {
  background-color: #3d0697;
  transition-duration: 0.3s;
  }
  /* Youtube*/
  .containerFour:hover {
  background-color: red;
  transition-duration: 0.3s;
  }
  
  .socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
  }
  .socialSvg {
  width: 17px;
  }
  
  .socialSvg path {
  fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  }
  #scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  }
  #scrollToTopBtn:hover {
  background-color: #0056b3;
  }
  button2{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #25D366;
    width: 7.8em;
    height: 1.2em;
    transition: 0.5s;
    font-size: 17px;
    border-radius: 0.4em;
    }
    
    button2 a {
    position: absolute;
    top: 0.4em;
    left: 1.15em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #0a9a3f;
    }
    
    button2 svg {
    position: absolute;
    top: 0.45em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #fff
    }
    
    button2:hover a{
    left: 0.5em;
    color: #fff
    }
    
    button2:hover svg {
    opacity: 1;
    }
    
    button2:hover {
    background-color: #25D366;
    }
  .footer-lists2 h2{
    font-size: 129%; 
  }
    

@media only screen and (max-width: 650px) {
  .container {
    flex-direction: row;
  }
  .register-signin {
    margin-right: -22px;
    padding: 2px 3px;
  }
  .register-signin button {
    margin-left: 7px;
    font-size: 60%;
}
  .container h2{
    font-size: 0.75em; margin-right: 5px;
  }
  .tnav {
    flex-direction: column;
    align-items: flex-start;
  }
  .dark-mode-toggle {
    font-size: 0.45em;
    margin-right: -10px;
  }
  .sign {
    font-size: 0.4em;
  }
  .tnav {
    flex-direction: column;
    align-items: flex-start;
  }
  .topnav {
    overflow: hidden;
    margin: 0;
  }
  .topnav a {
    float: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-decoration: underline;
    font-size: 20px;
    text-underline-offset: 10px;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }  
  .footer-lists img{
    max-width: 60%;
  }
}
